.seatMa{
  width: 200px;
  margin: 0 auto;


}

.seat {
  width: 50px;
  height: 50px;
  background-color: lightblue;
  border: 1px solid #ccc;
  /* display: flex; */
  margin: 5px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.booked {
  /* background-color: #279b0a; */
  background-color: blue;
color: white;
  cursor: not-allowed;
}

.selectedseating{
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 2px solid black;
}
.myseat{
  width: 30px;
height: 30px;
background-color: #ccc;
margin: 5px;
border: 1px solid #999;
cursor: pointer;
}


.seating-area{
  display: flex;
  margin: 0px auto;
  gap: 20px;

  width: 500px;
  justify-content: space-around;
}
.columns-left{
  display: flex;

}
.columns-right{
  display: flex;

}
.Submit-button {
  display: flex;
  margin: 0px auto;
  justify-content: center;
  padding: 20px;
  font-size: 20px;
}

  button.submitted {
      padding: 8px;
      width: 20vw;
      border-radius: 16px;
      font-size: 30px;
      cursor: pointer;
      background: #dd8695;
      color: white;
  }
  .legends{
      display: flex;
      justify-content: center;
      gap: 10px;
      
  }
  #selected{
width: 10px;
height: 10px;
background-color: red;
margin: 5px;
border: 1px solid #999;
cursor: pointer;
font-size: 10px;

  }
#booked{
width: 10px;
height: 10px;
background-color: #ccc;
margin: 5px;
border: 1px solid #999;
cursor: pointer;
font-size: 10px;

}
.box{
width: 50px;
height: 50px;
margin: 5px;
border: 1px solid #999;
background-color: blue;
color: white;
}
.disp-flex{display: flex;}
#available{
width: 10px;
height: 10px;
background-color: #ccc;
margin: 5px;
border: 1px solid #999;
cursor: pointer;
font-size: 10px;
}


